@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(229, 57%, 11%);
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #c7cffd;
  background-image: url(images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position-y: 105%;
}

.container {
  width: 65.5%;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 30px;
  margin-left: 1.2em;
  position: relative;
}

.content {
  width: 39%;
  background: #1e2c69;
  border-radius: 5px;
  padding: 2.8em;
  padding-left: 3.3em;
  border-top-right-radius: 100px;
}

.logo {
  margin-bottom: 2.2em;
  cursor: pointer;
}

.imgs {
  display: flex;
}

.img-1,
.img-2,
.img-3 {
  width: 48px;
  height: 48px;
  margin-right: 15px;
  border-radius: 20%;
  background: #0c122c;
  background-image: url(images/icon-document.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.img-2 {
  background-image: url(images/icon-folder.svg);
}
.img-3 {
  background-image: url(images/icon-upload.svg);
}

/* RANGE */

.content-2 {
  position: relative;
}
.range {
  width: 60%;
  height: fit-content;
  padding: 3em;
  background: #1e2c69;
  border-radius: 10px;
}

.info {
  margin-bottom: 17px;
  font-size: 0.9rem;
}
.info span {
  font-size: 0.95rem;
  font-weight: bold;
}
.radius-clip {
  width: 30px;
  height: 23px;
  background: rgb(255, 255, 255);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0%);
  position: absolute;
  top: -17%;
  left: 90.3%;

}

.left-gb {
  padding: 13px 33px;
  padding-left: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  font-size: 1.7rem;
  position: absolute;
  top: -112%;
  left: 60.5%;
}

.left-gb p {
  font-size: 0.725rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #777777;
  margin-left: 6px;
  margin-top: 4px;
}

.line {
  width: 100%;
  height: 16px;
  border-radius: 100vw;
  background: hsl(229, 57%, 11%);
  margin-bottom: 11px;
  margin-top: 0;
  position: relative;
  cursor: pointer;
}

.line-color {
  width: 75%;
  border-radius: 100vw;
  inset: 0;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(255, 163, 153, 1) 34%,
    rgba(255, 77, 151, 1) 74%
  );
}

.line-color::before {
  content: "";
  width: 0.74em;
  height: 0.74em;
  border-radius: 100vw;
  background: white;
  position: absolute;
  right: 0.25em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.gb-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gb,
span {
  font-size: 0.725rem;
  font-weight: bold;
}

@media screen and (width<=890px) {
  body {
    background-position-y: 100%;
  }
  .container {
    width: 90%;
  }

  .left-gb {
    border-radius: 10px;
    padding: 15px 32px;
  }

  .left-gb p {
    font-size: 0.725rem;
    font-weight: 600;
    font-family: sans-serif;
    color: #aaaaaa;
    margin-left: 15px;
  }

  @media screen and (width<768px) {
    body {
      background-image: url("images/bg-mobile.png");
      background-position: center;
      background-size: cover;
    }
    .container {
      flex-direction: column;
      gap: 15px;
      justify-content: center;
      align-items: center;
    }
    .content,
    .range {
      width: 100%;
    }
    .radius {
      display: none;
    }

    .left-gb {
      position: absolute;
      top: 100%;
      left: 12%;
      margin-top: 0.5em;
    }
  }
}
